@model RecetarioMVC1.Models.menu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_menu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_menu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_menu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_menu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario_menu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario_menu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receta.fuente_receta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receta.fuente_receta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cod_menu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
